<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDERR"
		class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>%-5level %d{MM/dd/yyyy HH:mm:ss} %-36.36logger{36} %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDERR" />
	</root>

	<logger name="org.hibernate" level="INFO" />
	<logger name="org.jooq" level="INFO" />
	<logger name="com.zaxxer.hikari" level="INFO" />
</configuration>