.course {
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	
	display: block;
	overflow: hidden;
	
	border-radius: 5px;
	background-color: #FFF;
	color: #666;
	font-size: 20px;
	box-shadow: 0 4px #EEE;
}

.courseName {
	float: left;
}

.course .courseOwner {
	float:right;
}