.tabBar {
	color: #000;
	width: 100%;
	margin: auto;
	text-align: left;
	border-collapse: collapse;
	border-radius: 5px;
}

.tabBar tr {
	background-color: #fff;
}

.tabBar td {
	border-bottom: 5px solid #ddd;
}

.tabBar td p {
	padding: 10px;
	margin: 0;
}

.tabBar td a {
	text-decoration: none;
	color: #000;
}

.tabBar td.highlighted {
	border-bottom: 5px solid #0080ff;
}

.tabBar td:hover {
	background-color:#f2f2f2;
}

.tab {
	display: none;
}

.list {
	table-layout: fixed;
}

.testNameColumn {
	width: 80%;
}

.testPublishButtonColumn {
	width: 24px;
}

.testPublishTextColumn {
	width: 100px;
}

.testButtonColumn {
	width: 60px;
}