body {
	position: relative;
}

#title {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

#title h1 {
	font-size: 128px;
	margin-bottom: 0;
}

#title h2 {
	font-size: 72px;
	margin-bottom: 0;
}

#title p {
	margin-top: 0;
	font-style: italic;
}

#title .g-signin2 .abcRioButton {
	margin: auto;
}