body {
	position: relative;
}

@keyframes slideToCenter {
  from {
    visibility: visible;
    transform: translate3d(-50%, 1000%, 0);
  }

  to {
    visibility: visible;
    transform: translate3d(-50%, -50%, 0);
  }
}

.slideToCenter {
  -webkit-animation-name: slideToCenter;
  animation-name: slideToCenter;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideFromCenter {
  from {
    visibility: visible;
    transform: translate3d(-50%, -50%, 0);
  }
  
  to {
    visibility: visible;
    transform: translate3d(-50%, -1000%, 0);
  }
}

.slideFromCenter {
  -webkit-animation-name: slideFromCenter;
  animation-name: slideFromCenter;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#title {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate3d(-50%, -50%, 0);
}

#title h1 {
	font-size: 128px;
	margin: 0;
}

#title h2 {
	font-size: 72px;
	margin-bottom: 0;
}

#title p {
	margin-top: 0;
	font-style: italic;
}

#title .g-signin2 .abcRioButton {
	margin: auto;
}

#header {
	width: 100%;
	
	color: white;
	text-align: right;
	
	padding-top: 20px;
	padding-bottom: 20px;
}

#header a {
	text-decoration: none;
	color: white;
	padding-right: 20px;
}