.header {
	display: flex;
	align-items: baseline;
}

.header-title {
	flex-grow: 1;
}

.header-raw {
	flex-grow: 0;
}

.quadrant {
	width: 50%;
	/*height: 50%;*/
	float: left;
	position: relative;
}

.lds-ring {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

table td {
	color: black;
}

