.list {
	table-layout: fixed;
	
}

.list td { border: 1px solid #ddd; }

.labelColumn {
	width: 3%;
}

.typeColumn {
	width: 25%;
}

.topicColumn {
	width: 25%;
}

.pointsColumn {
	width: 5%;
}

.correctColumn {
	width: 5%;
}

.reasonColumn {
	width: 17%;
}

.notesColumn {
	width: 20%;
}