/* ======================================
   ======== Standard Stuff ==============
   ====================================== */

body {
	margin:0;
	padding: 0;
	font-family: "Arial", Arial, sans serif;
	color: white;
	background-image: linear-gradient(#99ccff, #0080ff);
}

p {
	margin-top: 1px;
	margin-bottom: 1px;
}

#title h1 {
	font-size: 128px;
}

/* ======================================
   ============== Navbar ================
   ====================================== */

#navbar {
	margin: 0;
	padding: 0;
}

#navbar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
}

#navbar ul li {
	float: left;
}

#navbar ul li.right {
	float: right;
}

#navbar ul li.active {
	background-color: #0080FF;
}

#navbar ul li:hover {
	background-color: #111;
}

#navbar ul li.active:hover {
	background-color: #0060DF;
}

#navbar ul li p {
	margin: 0;
	display: block;
	color: white;
	text-align: center;
	padding: 16px 16px 16px 16px;
	text-decoration: none;
}

#navbar ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 16px 16px 16px;
	text-decoration: none;
}

/* ======================================
   ======== Body / Content ==============
   ====================================== */

.bodyContainer {
	width: 95%;
	margin: auto;
	margin-top: 20px;
	background-color: white;
	color: #333;
	border-radius: 5px;
	padding: 5px;
	padding-bottom: 9px;
	box-shadow: 0 4px #EEE;
	overflow: hidden;
}

/* ======================================
   ============= Buttons ================
   ====================================== */

.button {
	width: 200px;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #666666;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 4px #EEE;
}

.button.blue {
	box-shadow: 0 4px #0069ee;
	background-color: #0080ff;
	color: #FFF;
}

.button.blue:hover {
	box-shadow: 0 4px #0069ee;
	background-color: #0069ee;
	color: #FFF;
}

/* ======================================
   ============== Lists =================
   ====================================== */

.list {
	color: #000;
	width: 80%;
	margin: auto;
	text-align: left;
	border-collapse: collapse;
	border-radius: 5px;
}

.list th, td {
	border-bottom: 1px solid #ddd;
	padding: 8px;
}

.list tr {
	background-color: #fafafa;
}

.list tr:hover {
	background-color:#f2f2f2;
}

/* ======================================
   =========== Arrangement ==============
   ====================================== */

.row {
	display: inline-block;
	overflow: auto;
}

.row .column {
	float: left;
	margin-right: 5px;
}

.centered {
	text-align: center;
	margin: auto;
}