.list {
	table-layout: fixed;
}

.labelColumn {
	width: 15%;
}

.typeColumn {
	width: 35%;
}

.topicColumn {
	width: 35%;
}

.pointsColumn {
	width: 5%;
}

.editColumn {
	width: 5%;
}

.deleteColumn {
	width: 5%;
}